

.container{
    padding: 5px;
    background: azure;
    /* text-align:center; */
    font-size: 20px;
    margin: auto;
    width: 90%;
}
#header{
    padding: 5px;
    background: azure;
    text-align:center;
    font-size: 20px;
}
.articles{
    background: aliceblue;
    font-size: 20px;
}


#sidebar{
    width:300px;
    background: lightskyblue;
    color:white;
    text-align:center;
    font-size: 20px;
    float: right;
}

#footer{
    background: azure;
    text-align:center;
    font-size: 20px;

}
.clear{
    clear:both
}
#menu{
    background: azure; color: azure; height: auto;
}
#menu a{
    background: lightskyblue;
}
